<li hx-trigger="uploadData from:body" hx-put="/rest/datasets/{{:dsid}}/files/{{:fid}}/{{:chunk}}"
    hx-encoding="multipart/form-data" hx-vals="js:{chunk: getNextChunk(event)}" hx-swap="outerHTML"
    class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">Upload data</div>
        Total progress: {{:progress_dataset}} %
        <br><br>
        <div class="d-lg-none">
            {{:filename_short}} {{:progress_file}} %
        </div>
        <div class="d-none d-lg-block">
            {{:filename}} {{:progress_file}} %
        </div>        
        {{#:last_file_1}}
        <div class="d-lg-none" style="opacity: 80%;">
            {{:last_file_1_short}} 100 %
        </div>
        <div class="d-none d-lg-block" style="opacity: 80%;">
            {{:last_file_1}} 100 %
        </div>
        {{/:last_file_1}}
        {{#:last_file_2}}
        <div class="d-lg-none" style="opacity: 80%;">
            {{:last_file_2_short}} 100 %
        </div>
        <div class="d-none d-lg-block" style="opacity: 60%;">
            {{:last_file_2}} 100 %
        </div>
        {{/:last_file_2}}
        {{#:last_file_3}}
        <div class="d-lg-none" style="opacity: 80%;">
            {{:last_file_3_short}} 100 %
        </div>
        <div class="d-none d-lg-block" style="opacity: 40%;">
            {{:last_file_3}} 100 %
        </div>
        {{/:last_file_3}}
        {{#:last_file_4}}
        <div class="d-lg-none" style="opacity: 80%;">
            {{:last_file_4_short}} 100 %
        </div>
        <div class="d-none d-lg-block" style="opacity: 30%;">
            {{:last_file_4}} 100 %
        </div>
        {{/:last_file_4}}
        {{#:last_file_5}}
        <div class="d-lg-none" style="opacity: 80%;">
            {{:last_file_5_short}} 100 %
        </div>
        <div class="d-none d-lg-block" style="opacity: 20%;">
            {{:last_file_5}} 100 %
        </div>
        {{/:last_file_5}}
    </div>
    <span class="badge bg-primary rounded-pill">in progress</span>
</li>