<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">Upload data</div>
        Total progress: 100 %
        <br><br>
        {{:filename}} 100 %
        {{#:last_file_1}}
        <div style="opacity: 80%;">
            {{:last_file_1}} 100 %
        </div>
        {{/:last_file_1}}
        {{#:last_file_2}}
        <div style="opacity: 60%;">
            {{:last_file_2}} 100 %
        </div>
        {{/:last_file_2}}
        {{#:last_file_3}}
        <div style="opacity: 40%;">
            {{:last_file_3}} 100 %
        </div>
        {{/:last_file_3}}
        {{#:last_file_4}}
        <div style="opacity: 30%;">
            {{:last_file_4}} 100 %
        </div>
        {{/:last_file_4}}
        {{#:last_file_5}}
        <div style="opacity: 20%;">
            {{:last_file_5}} 100 %
        </div>
        {{/:last_file_5}}
    </div>
    <span class="badge bg-success rounded-pill">done</span>
</li>
<li
    id="processData"
    hx-swap-oob="true"
    hx-get="/rest/datasets/{{:dsid}}/stage"
    hx-trigger="every 1s"
    hx-swap="outerHTML"
    class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">Process data</div>
    </div>
    <span class="badge bg-primary rounded-pill">in progress</span>
</li>